.login-info-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    min-width: 25vw;
    min-height: 40vh;
}
.error-div {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.error-text {
    padding-top: 2px;
    color: red;
}