.item-name {
    padding-left: 5px;
}
.sidebar-items-container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: max-content;
    height: 100vh;
    background-color: aquamarine;
}
.sidebar-item {
    display: flex;
    flex-direction: row;
    margin: 0.4em;
    cursor: pointer;
    justify-content: space-around;
    padding:6px;
    padding-left: 12px;
    padding-right: 12px;
}
.sidebar-item:hover {
    display: flex;
    flex-direction: row;
    margin: 0.4em;
    cursor: pointer;
    justify-content: space-around;
    background-color:#33aaff;
    padding:6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: azure;
}
.sidebar-item:active {
    transform: scale(0.85);
}